<link rel="stylesheet" href="/static/style.css">
<h2 align="center"> Tile of Review for {{product}} </h2>
<table border=1>
    <tr> 
        <th>Rating=1 </th>
        <th>Rating=2 </th>
        <th>Rating=3 </th>
        <th>Rating=4 </th>
        <th>Rating=5 </th>
    </tr>
    {% for i in review %}
        <tr>
            <td> {{i[0]}} </td>
            <td> {{i[0]}} </td>
            <td> {{i[0]}} </td>
            <td> {{i[0]}} </td>
            <td> {{i[0]}} </td>
        </tr>
    {% endfor %}
</table>

<a href="/{{nm}}/details"> Details </a>
<br></br>
<a href="/"> Return Home </a>